<mat-tab-group class="layout-tabs-group">
  <mat-tab
    *ngFor="let page of layoutPages">
      <ng-template mat-tab-label>
        <div class='layout-tab-label'>
          <span class='layout-tab-label-text'> {{page.id}} </span>
          <a class='layout-tab-label-button'>
            <mat-icon class='layout-tab-label-icon'>delete_forever</mat-icon>
          </a>
        </div>
      </ng-template>
    <div class="layout-tab-content">
      Content for '{{page.id}}'
    </div>
  </mat-tab>
</mat-tab-group>