<mat-tab-group class="layout-tabs-group"
       [(selectedIndex)]="selectedTabIndex"
       (selectedTabChange)="onSelectedTabChanged($event)">
  <mat-tab *ngFor="let tab of layoutPages; let ix = index"  label="{{tab.name}}">
    <ng-template mat-tab-label>
      <div class='layout-tab-label'>
      <span class='layout-tab-label-text'>{{tab.name}} </span>
      <button class='layout-tab-label-button'
              *ngIf="ix == selectedTabIndex"
              (click)="deleteLayoutPage()">
        <mat-icon class='layout-tab-label-icon'>delete_forever</mat-icon>
      </button>
      </div>
    </ng-template>

    <div class="layout-tab-content">
      <svg class='svg-element'
           attr.height='{{layoutPages[ix].height}}'
           attr.width='{{layoutPages[ix].width}}'>
        <path *ngIf="(ix % 4) == 0" class='svg-rect0' d='M 10 10 h 100 v 100 h -100 v -100'/>
        <path *ngIf="(ix % 4) == 1" class='svg-rect1' d='M 10 10 h 100 v 100 h -100 v -100'/>
        <path *ngIf="(ix % 4) == 2" class='svg-rect2' d='M 10 10 h 100 v 100 h -100 v -100'/>
        <path *ngIf="(ix % 4) == 3" class='svg-rect3' d='M 10 10 h 100 v 100 h -100 v -100'/>
      </svg>
    </div>
  </mat-tab>
</mat-tab-group>
