<h3 mat-dialog-title>Edit Settings</h3>

<mat-dialog-content>
  <td-dynamic-forms [elements]="dynamicSettingsList">
      <ng-template let-element ngFor [ngForOf]="dynamicSettingsList">
        <ng-template let-control="control" [tdDynamicFormsError]="element.name">
          <span *ngIf="control.touched || !control.pristine">
            <!--Stolen from the example, not applied because there is no validation rule yet -->
            <!-- <span *ngIf="control.hasError('even')">Must be even.</span>
            <span *ngIf="control.hasError('odd')">Must be odd.</span>
            <span *ngIf="control.hasError('min')">Must be greater than {{element.min}}.</span>
            <span *ngIf="control.hasError('max')">Must be less than {{element.max}}.</span> -->
          </span>
        </ng-template>
      </ng-template>
    </td-dynamic-forms>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
