<h3 mat-dialog-title>Edit Settings</h3>

<mat-dialog-content>
  <div *ngFor='let item of settingsList'>
    <div>
      <span>Name: {{item.name}}&nbsp;&nbsp;</span>
      <span>Value: {{item.value}}&nbsp;&nbsp;</span>
      <span>IsEditable: {{item.isEditable}}</span>
    </div>
</div>

<div *ngFor='let item of settingsList'>
  <mat-form-field>
        <input matInput [placeholder]=item.name>
    </mat-form-field>    
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
