<div class='menu-bar'>
  <mat-list display='none'></mat-list>       <!-- Hack to cause <mat-divider> to work -->
  <div class='menu-bar'>
    <button class='menu-button'
            [matMenuTriggerFor]='fileMenu'>File</button>
    <button class='menu-button'
            [matMenuTriggerFor]='editMenu'>Edit</button>
    <button class='menu-button'
            [matMenuTriggerFor]='insertMenu'>Insert</button>
    <button class='menu-button'
            [matMenuTriggerFor]='actionsMenu'>Actions</button>
    <button class='menu-button'
            [matMenuTriggerFor]='helpMenu'>Help</button>
    <!-- <button class='menu-button'
            (click)="menuDispatch('mainMenu_TabPrev')">Prev Tab</button>
    <button class='menu-button'
            (click)="menuDispatch('mainMenu_TabNext')">Next Tab</button> -->
    <button class='menu-button'
            (click)="menuDispatch('mainMenu_stepDefaultScale')">Incr Scale</button>
    <button class='menu-button'
            (click)="menuDispatch('mainMenu_resetSettings')">Reset Settings</button>
  </div>
        
  <mat-menu #fileMenu="matMenu">
    <ng-container *ngFor='let item of fileMenuItems'>
      <button mat-menu-item *ngIf='item.label'
              (click)="menuDispatch(item.id)">
        <span class=menu-item-label>{{item.label}}</span>
      </button>
      <mat-divider *ngIf='!item.label'></mat-divider>
  </ng-container>
  </mat-menu>
    
  <mat-menu #editMenu="matMenu">
    <ng-container *ngFor='let item of editMenuItems'>
      <button mat-menu-item *ngIf='item.label'
              (click)="menuDispatch(item.id)">
          <span class=menu-item-label>{{item.label}}</span>
      </button>
      <mat-divider *ngIf='!item.label'></mat-divider>
    </ng-container>
  </mat-menu>
        
  <mat-menu #insertMenu="matMenu">
    <button mat-menu-item
            (click)="menuDispatch('insertMenu_Page')">
            <span class=menu-item-label>Page</span>
    </button>
    <button mat-menu-item
            [matMenuTriggerFor]='widgetMenu'>
            <span class=menu-item-label>Widget</span>
    </button>
  </mat-menu>

  <mat-menu #actionsMenu="matMenu">
    <button mat-menu-item
            [matMenuTriggerFor]='alignMenu'>
            <span class=menu-item-label>Align</span>
    </button>
    <button mat-menu-item
            [matMenuTriggerFor]='rotateMenu'>
            <span class=menu-item-label>Rotate</span>
    </button>
    <button mat-menu-item
            [matMenuTriggerFor]='sizeMenu'>
            <span class=menu-item-label>Grow</span>
    </button>
  </mat-menu>

  <mat-menu #helpMenu="matMenu">
    <button mat-menu-item
            (click)="menuDispatch('helpMenu_About')">
            <span class=menu-item-label>About</span>
    </button>
  </mat-menu>
  
  <mat-menu #widgetMenu="matMenu">
    <ng-container *ngFor='let item of widgetMenuItems'>
      <button mat-menu-item *ngIf='item.label'
              (click)="menuDispatch(item.id)">
        <span class=menu-item-label>{{item.label}}</span>
      </button>
      <mat-divider *ngIf='!item.label'></mat-divider>
    </ng-container>
  </mat-menu>
        
  <mat-menu #alignMenu="matMenu">
    <ng-container *ngFor='let item of alignMenuItems'>
      <button mat-menu-item *ngIf='item.label'
              (click)="menuDispatch(item.id)">
        <span class=menu-item-label>{{item.label}}</span>
      </button>
      <mat-divider *ngIf='!item.label'></mat-divider>
    </ng-container>
  </mat-menu>

  <mat-menu #rotateMenu="matMenu">
    <ng-container *ngFor='let item of rotateMenuItems'>
      <button mat-menu-item *ngIf='item.label'
              (click)="menuDispatch(item.id)">
        <span class=menu-item-label>{{item.label}}</span>
      </button>
      <mat-divider *ngIf='!item.label'></mat-divider>
    </ng-container>
  </mat-menu>

  <mat-menu #sizeMenu="matMenu">
    <button mat-menu-item
            [matMenuTriggerFor]='lengthMenu'>
            <span class=menu-item-label>Length</span>
    </button>
    <button mat-menu-item
            [matMenuTriggerFor]='widthMenu'>
            <span class=menu-item-label>Width</span>
    </button>
  </mat-menu>
        
  <mat-menu #lengthMenu="matMenu">
    <ng-container *ngFor='let item of lengthMenuItems'>
      <button mat-menu-item *ngIf='item.label'
              (click)="menuDispatch(item.id)">
        <span class=menu-item-label>{{item.label}}</span>
      </button>
      <mat-divider *ngIf='!item.label'></mat-divider>
    </ng-container>
  </mat-menu>

  <mat-menu #widthMenu="matMenu">
    <ng-container *ngFor='let item of widthMenuItems'>
      <button mat-menu-item *ngIf='item.label'
              (click)="menuDispatch(item.id)">
        <span class=menu-item-label>{{item.label}}</span>
      </button>
      <mat-divider *ngIf='!item.label'></mat-divider>
    </ng-container>
  </mat-menu>
</div>
